.main_signup {
    display: grid;
    justify-content: center;
    background-color: rgb(172, 207, 195);
}

.first_signup_child {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: beige;
}

.first_signup_child input {
    display: flex;
    margin: 20px 0 10px 30px;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    /* font-variant: small-caps; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.first_signup_child button {
    width: 100px;
    margin: 35px 0 0 30px;
    padding: 0 5px 5px 5px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    color: white;
    font-variant: small-caps;
    border: solid 2px brown;
    background-color: rgb(32, 104, 110);

}

.first_signup_child button:hover {
    background-color: green;
    border: sloid 2px red;
    transition-duration: 1000ms;
}

.first_signup_child a {
    display: flex;
    justify-content: right;
    margin: 20px 20px 0 0;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}

.invalid_input {
    color: red;
    margin-top: -14px;
    display: block;
    margin-left: 30px;
}

.signUP {
    margin: 10px;
}