.box {
    margin: 20px;
    justify-content: space-evenly;
}

.poetname {
    /* text-align: center;
    font-variant: small-caps; */
    color: #000;
    font-size: 25px;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    width: fit-content;
    text-align: center;
    font-variant: small-caps;
}

.name:hover {
    color: rgb(197, 22, 22);
}

.poetcard {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(72, 113, 55);
    margin-top: 5px;
    margin-bottom: 5px;
}

.poetcard:hover {
    background-color: rgb(48, 76, 37);
    transition-duration: 2000ms;
}

.poet_title {
    color: #000;
    font-variant: small-caps;
    font-size: 20px;
}

.poet_text {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: cornsilk;
}